
.bg-login{
  background:#fefefe;
  /* background:linear-gradient(45deg,#dec67f 0,#f28dc3 50%,#88aeeb 100%) */
}

 
.shad{
  box-shadow: 0 0 5px #00000036!important;
  border: 0;
}
.inp-login{
  height: 75px;
  font-size: 18px;
  border-radius: 10px;
  color:cadetblue
}
.card{border-radius: 20px;}